<div class="hero-unit">
  <h1>sence?</h1>
  <p>
    <%= link_to "sign in", new_user_session_path, :class=>'btn btn-large' %>
    <%= link_to "sign out", destroy_user_session_path, :method => :delete, :class=>'btn btn-large' %>
  </p>
</div>

